<?xml version="1.0"?>
<data>
    <Locals>
        <sitename>"Default Web Site"</sitename>
	<mw_app_name>"mw_auto_1"</mw_app_name>
	<iis_appcmd>"C:\Windows\System32\inetsrv\appcmd.exe"</iis_appcmd>
        <email>test@test.ru</email>
    </Locals>


    <branch name="Main">
        <pathToLatest>\\bg\Builds\Master-Web\main_MasterWeb\main_MasterWeb</pathToLatest>
        <pathToLocal>E:\MW_main</pathToLocal> 
        <dbconnection remotedbname="avalon" SERVER="localhost" DATABASE="avalon" UserID="MT" Password="1"/>
        <iisAppSettings appName="test1" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="\\bg\Builds\Master-Tour\Release\" MTpathToLocal="E:\MT_main" saPassword="sa" MTUserID="MT" MTPassword="1"/>
    </branch>

   <!--<branch name="Hotfixes">
        <pathToLatest>\\bg/Builds\Master-Web\hotfixes_MasterWeb\hotfixes_MasterWeb</pathToLatest>
        <pathToLocal>E:\MW_hotfixes</pathToLocal>
        <dbconnection remotedbname="avalon1" SERVER="localhost" DATABASE="avalon1" UserID="MT1" Password="1"/>
        <iisAppSettings appName="test2" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="\\bg\Builds\Master-Tour\Release\" MTpathToLocal="E:\MT_hotfixes" saPassword="sa" MTUserID="MT" MTPassword="1"/>
     
    </branch>-->
    <!--<branch name="Develop">
        <pathToLatest>\\bg/Builds\Master-Web\develop_MasterWeb\develop_MasterWeb</pathToLatest>
        <pathToLocal>E:\MW_develop</pathToLocal>
        <dbconnection remotedbname="avalon2" SERVER="localhost" DATABASE="avalon2" UserID="MT2" Password="2"/>
        <iisAppSettings appName="test3" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="" MTpathToLocal="" saPassword="" MTUserID="MT" MTPassword="1"/>

    </branch>-->
     <Plugins>
               <plugin name="advancedbasket" getlocal="true"/>
               <plugin name="aviatimelist" getlocal="false"/>
     </Plugins>
     <Services>
               <service name="Se1" getlocal="true"/>
               <service name="Se2" getlocal="false"/>
     </Services>

<Files>
  <file name="sql.ini" getlocal="false"/>
  <file name="Megatec.mtData.dll" getlocal="true"/>
  <file name="EntityFramework.dll" getlocal="false"/>
</Files>

</data>


