<?xml version="1.0"?>
<data>
    <Locals>
                <email>test@test.ru</email>                       
    </Locals>

    <branch name="Main">
        <pathToLatest>\\bg\Builds\Master-Web\main_MasterWeb\main_MasterWeb</pathToLatest>      
        <pathToLocal>E:\MW_main</pathToLocal> 
        <dbconnection remotedbname="avalon" SERVER="s15\mastertour08" DATABASE="main_del" UserID="MT" Password="1" pathToBak="F:\ALLBASE\mastertour\backup\main_del.bak" isRestore="true"/>
        <iisAppSettings appName="test1" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="\\bg\Builds\Master-Tour\Release\" MTpathToLocal="E:\MT_main" saPassword="sa" MTUserID="MT" MTPassword="1" Release="2009.2.21"/>
        <isLastBuild>True</isLastBuild> <!--Take release and last build script and client -True  Take last release script and client only - False-->
        <Services>
<Service name="annulation" localname="annulation" apppool="DefaultAppPool" getlocal="false"/>
<Service name="encryptionservice" localname="encryptionservice" apppool="DefaultAppPool" getlocal="false"/>
<Service name="filterbinding" localname="filterbinding" apppool="DefaultAppPool" getlocal="true"/>
<Service name="Finance" localname="Finance" apppool="DefaultAppPool" getlocal="true"/>
<Service name="megatecwebservices" localname="megatecwebservices" apppool="DefaultAppPool" getlocal="true"/>
<Service name="paymentSystem-entryPoin" localname="paymentSystem-entryPoin" apppool="DefaultAppPool" getlocal="false"/>
<Service name="tourMinPricesControl" localname="tourMinPricesControl" apppool="DefaultAppPool" getlocal="false"/>
<Service name="authorization" localname="authorization" apppool="DefaultAppPool" getlocal="false"/>
<Service name="authservice" localname="authservice" apppool="DefaultAppPool" getlocal="true"/>
<Service name="aviasearch" localname="aviasearch" apppool="DefaultAppPool" getlocal="true"/>
<Service name="checkquotes" localname="checkquotes" apppool="DefaultAppPool" getlocal="true"/>
<Service name="complextour" localname="complextour" apppool="DefaultAppPool" getlocal="false"/>
<Service name="hotelinfo" localname="hotelinfo" apppool="DefaultAppPool" getlocal="true"/>
<Service name="jssearch" localname="jssearch" apppool="DefaultAppPool" getlocal="false"/>
<Service name="printdocumentstatus" localname="printdocumentstatus" apppool="DefaultAppPool" getlocal="true"/>
<Service name="reservation" localname="reservation" apppool="DefaultAppPool" getlocal="false"/>
<Service name="tourinfo" localname="tourinfo" apppool="DefaultAppPool" getlocal="true"/>
<Service name="payments-assist" localname="payments-assist" apppool="DefaultAppPool" getlocal="false"/>
<Service name="payments-chronopay" localname="payments-chronopay" apppool="DefaultAppPool" getlocal="false"/>
<Service name="payments-payonline" localname="payments-payonline" apppool="DefaultAppPool" getlocal="false"/>
<Service name="searchHistory" localname="searchHistory" apppool="DefaultAppPool" getlocal="false"/>
<Service name="touristInfoService" localname="touristInfoService" apppool="DefaultAppPool" getlocal="false"/>
<Service name="tourminprices" localname="tourminprices" apppool="DefaultAppPool" getlocal="false"/>
        </Services>
    </branch>

   <!--<branch name="Hotfixes">
        <pathToLatest>\\bg/Builds\Master-Web\hotfixes_MasterWeb\hotfixes_MasterWeb</pathToLatest>
   
        <pathToLocal>E:\MW_hotfixes</pathToLocal>
         <dbconnection remotedbname="avalon" SERVER="s15\mastertour08" DATABASE="main_del" UserID="MT" Password="1" sapassword="sa" pathToBak="F:\ALLBASE\mastertour\backup\main_del.bak" isRestore="true"/>
        <iisAppSettings appName="test2" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="\\bg\Builds\Master-Tour\Release\" MTpathToLocal="E:\MT_hotfixes" saPassword="sa" MTUserID="MT" MTPassword="1"/>
        <isLastBuild>True</isLastBuild>
             <Services>
            <Service name="aviasearch" localname="aviasearch_hotfixes" apppool="DefaultAppPool" getlocal="true"/>
        <Service name="annulation" localname="annulation_hotfixes" apppool="DefaultAppPool" getlocal="true"/>
        </Services>
       
    </branch>-->
    <!--<branch name="Develop">
        <pathToLatest>\\bg/Builds\Master-Web\develop_MasterWeb\develop_MasterWeb</pathToLatest>
   
        <pathToLocal>E:\MW_develop</pathToLocal>
         <dbconnection remotedbname="avalon" SERVER="s15\mastertour08" DATABASE="main_del" UserID="MT" Password="1" sapassword="sa" pathToBak="F:\ALLBASE\mastertour\backup\main_del.bak" isRestore="true"/>
        <iisAppSettings appName="test3" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="" MTpathToLocal="" saPassword="" MTUserID="MT" MTPassword="1"/>
        <isLastBuild>True</isLastBuild>
             <Services>
       <Service name="aviasearch" localname="aviasearch_dev" apppool="DefaultAppPool" getlocal="true"/>
        <Service name="annulation" localname="annulation_dev" apppool="DefaultAppPool" getlocal="true"/>
        </Services>
       
    </branch>-->
     <Plugins>
               <plugin name="advancedbasket" getlocal="true"/>
               <plugin name="aviatimelist" getlocal="false"/>
     </Plugins>

<Files>
  <file name="Megatec.mtData.dll" getlocal="true"/>
</Files>
<Directories>
  <!--Here can be indicated some static folder -it always will be copied in destination\Temp subfolder-->
  <directory path="\\bg\Builds\Master-Tour\Release\Release9.2.21.0(141031)\PaymentSignatureServiceHost.zip" getlocal="true"/>
</Directories>
</data>


