<?xml version="1.0"?>
<data>
    <Locals>
                <email>test@test.ru</email>                       
    </Locals>

    <branch name="Main">
        <pathToLatest>\\bg\Builds\Master-Web\main_MasterWeb\main_MasterWeb</pathToLatest>      
        <pathToLocal>E:\MW_main</pathToLocal> 
        <dbconnection remotedbname="avalon" SERVER="s15\mastertour08" DATABASE="main_del" UserID="MT" Password="1"/>
        <iisAppSettings appName="test1" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="\\bg\Builds\Master-Tour\Release\" MTpathToLocal="E:\MT_main" saPassword="sa" MTUserID="MT" MTPassword="1" Release="2009.2.21"/>
        <isLastBuild>True</isLastBuild> <!--Take release and last build script and client -True  Take last release script and client only - False-->
        <Services>
        <Service name="aviasearch" apppool="DefaultAppPool" getlocal="true"/>
        <Service name="annulation" apppool="DefaultAppPool" getlocal="true"/>
        </Services>
    </branch>

   <!--<branch name="Hotfixes">
        <pathToLatest>\\bg/Builds\Master-Web\hotfixes_MasterWeb\hotfixes_MasterWeb</pathToLatest>
   
        <pathToLocal>E:\MW_hotfixes</pathToLocal>
        <dbconnection remotedbname="avalon1" SERVER="localhost" DATABASE="avalon1" UserID="MT1" Password="1"/>
        <iisAppSettings appName="test2" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="\\bg\Builds\Master-Tour\Release\" MTpathToLocal="E:\MT_hotfixes" saPassword="sa" MTUserID="MT" MTPassword="1"/>
        <isLastBuild>True</isLastBuild>
             <Services>
        <Service name="aviasearch" apppool="DefaultAppPool" getlocal="true"/>
        <Service name="specialoffers" apppool="DefaultAppPool" getlocal="true"/>
        </Services>
    </branch>-->
    <!--<branch name="Develop">
        <pathToLatest>\\bg/Builds\Master-Web\develop_MasterWeb\develop_MasterWeb</pathToLatest>
   
        <pathToLocal>E:\MW_develop</pathToLocal>
        <dbconnection remotedbname="avalon2" SERVER="localhost" DATABASE="avalon2" UserID="MT2" Password="2"/>
        <iisAppSettings appName="test3" appPool="DefaultAppPool"/>
        <MT  MTpathToLatest="" MTpathToLocal="" saPassword="" MTUserID="MT" MTPassword="1"/>
        <isLastBuild>True</isLastBuild>
             <Services>
        <Service name="aviasearch" apppool="DefaultAppPool" getlocal="true"/>
        <Service name="specialoffers" apppool="DefaultAppPool" getlocal="true"/>
        </Services>
    </branch>-->
     <Plugins>
               <plugin name="advancedbasket" getlocal="true"/>
               <plugin name="aviatimelist" getlocal="false"/>
     </Plugins>

<Files>
  <file name="Megatec.mtData.dll" getlocal="true"/>
</Files>
<Directories>
  <!--Here can be indicated some static folder -it always will be copied in destination\Temp subfolder-->
  <directory path="\\bg\Builds\Master-Tour\Release\Release9.2.21.0(141031)\PaymentSignatureServiceHost.zip" getlocal="true"/>
</Directories>
</data>


