<?xml version="1.0"?>
<data>
    <branch name="Main">
        <pathToLatest>"\\bg\builds\Main\Latest"</rank>
        <pathToLocal>"C:\test"</pathToLocal>
        
        </branch>
    <branch name="Development">
        <pathToLatest>"\\bg\builds\Dev\Latest"</rank>
        <pathToLocal>"C:\test"</pathToLocal>
 
    </branch>
    <branch name="Test">
        <pathToLatest>"\\bg\builds\Main\Latest"</rank>
        <pathToLocal>"C:\test"</pathToLocal>
    
    </branch>
    <Plugins>
               <plugin name="Pl1" getlocal="yes"/>
               <plugin name="Pl2" getlocal="true"/>
     </Plugins>
</data>
